/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 7, 2023, 11:02:44 AM
    Author     : linh1
*/
body {
    background-image: url("../Images/adminBackground.webp");
    background-size: 100% ;
}
