<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFlower</servlet-name>
        <servlet-class>controller.SearchFlower</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailPlantServlet</servlet-name>
        <servlet-class>controller.DetailPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantity</servlet-name>
        <servlet-class>controller.UpdateQuantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemovingItemInCart</servlet-name>
        <servlet-class>controller.RemovingItemInCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>controller.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderServlet</servlet-name>
        <servlet-class>controller.ViewOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderServlet</servlet-name>
        <servlet-class>controller.CancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CanceledOrders</servlet-name>
        <servlet-class>controller.CanceledOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderAgainServlet</servlet-name>
        <servlet-class>controller.OrderAgainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>controller.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProfileServlet</servlet-name>
        <servlet-class>controller.ChangeProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAccountsServlet</servlet-name>
        <servlet-class>controller.ManageAccountsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccountsServlet</servlet-name>
        <servlet-class>controller.SearchAccountsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountStatus</servlet-name>
        <servlet-class>controller.UpdateAccountStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderOfAccountsServlet</servlet-name>
        <servlet-class>controller.ViewOrderOfAccountsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByDateServlet</servlet-name>
        <servlet-class>controller.SearchByDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePlantsServlet</servlet-name>
        <servlet-class>controller.ManagePlantsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePlantServlet</servlet-name>
        <servlet-class>controller.CreatePlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPlantByAdminServlet</servlet-name>
        <servlet-class>controller.ViewPlantByAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePlantServlet</servlet-name>
        <servlet-class>controller.UpdatePlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatedPlantServlet</servlet-name>
        <servlet-class>controller.UpdatedPlantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCategoriesServlet</servlet-name>
        <servlet-class>controller.ManageCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <servlet-class>controller.UpdateCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatedCategoryServlet</servlet-name>
        <servlet-class>controller.UpdatedCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatedCategoryServlet</servlet-name>
        <servlet-class>controller.CreatedCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrdersByAdminServlet</servlet-name>
        <servlet-class>controller.SearchOrdersByAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllOrdersOfOneServlet</servlet-name>
        <servlet-class>controller.ViewAllOrdersOfOneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>controller.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteOrderServlet</servlet-name>
        <servlet-class>controller.CompleteOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFlower</servlet-name>
        <url-pattern>/SearchFlower</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailPlantServlet</servlet-name>
        <url-pattern>/DetailPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantity</servlet-name>
        <url-pattern>/UpdateQuantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemovingItemInCart</servlet-name>
        <url-pattern>/RemovingItemInCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderServlet</servlet-name>
        <url-pattern>/ViewOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderServlet</servlet-name>
        <url-pattern>/CancelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CanceledOrders</servlet-name>
        <url-pattern>/CanceledOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderAgainServlet</servlet-name>
        <url-pattern>/OrderAgainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeProfileServlet</servlet-name>
        <url-pattern>/ChangeProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAccountsServlet</servlet-name>
        <url-pattern>/ManageAccountsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccountsServlet</servlet-name>
        <url-pattern>/SearchAccountsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountStatus</servlet-name>
        <url-pattern>/UpdateAccountStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderOfAccountsServlet</servlet-name>
        <url-pattern>/ViewOrderOfAccountsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByDateServlet</servlet-name>
        <url-pattern>/SearchByDateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePlantsServlet</servlet-name>
        <url-pattern>/ManagePlantsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePlantServlet</servlet-name>
        <url-pattern>/CreatePlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPlantByAdminServlet</servlet-name>
        <url-pattern>/ViewPlantByAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePlantServlet</servlet-name>
        <url-pattern>/UpdatePlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatedPlantServlet</servlet-name>
        <url-pattern>/UpdatedPlantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCategoriesServlet</servlet-name>
        <url-pattern>/ManageCategoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryServlet</servlet-name>
        <url-pattern>/UpdateCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatedCategoryServlet</servlet-name>
        <url-pattern>/UpdatedCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatedCategoryServlet</servlet-name>
        <url-pattern>/CreatedCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrdersByAdminServlet</servlet-name>
        <url-pattern>/SearchOrdersByAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllOrdersOfOneServlet</servlet-name>
        <url-pattern>/ViewAllOrdersOfOneServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/OrderDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteOrderServlet</servlet-name>
        <url-pattern>/CompleteOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
